h1,h2{
    text-align: center;
}
.button{
    border-color: black;
    background-color: transparent;
    color: black;
}
.content{
    margin-top: 20px;
}
.tooltip{
  position: fixed;
  display: none;
  color: white;
  background-color: black;
  opacity: 0.5;
  padding: 10px;
  padding-bottom: 1px;
  border-radius: 5%
}